@model PlanFormDisplay

@{
    ViewData["Title"] = "Lektionen";
}

<div class="text-center">
  <h1 class="display-4">Lektion hinzufügen</h1>
  <partial name="_PageMessage"></partial>
</div>
<partial name="_Form"></partial>
<script type="text/javascript">

</script>