@model LessonFormDisplay;

@{
    ViewData["Title"] = "Pläne";
}

<div class="text-center">
  <h1 class="display-4">Plan hinzufügen</h1>
  <partial name="_PageMessage"></partial>
</div>
<partial name="_Form.cshtml" model="@Model"></partial>
